<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.breakfast.client">

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.nfc" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!-- 弹出系统警告对话框 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- Optional for location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <!-- 网络 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- Required  一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- 允许App开机启动，来接收推送 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- 发送持久广播 -->
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <!-- 修改全局系统设置 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 允许振动，在接收推送时提示客户 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 侦测Wifi 变化，以针对不同 Wifi 控制最佳心跳频率，确保push的通道稳定 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 此权限用于在接到推送时，可唤醒屏幕，可选择性添加权限 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- NFC身份证识别 -->
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.MANAGE_NEWLAND" />
    <uses-permission android:name="android.permission.MANAGE_NEWLANDUART3" />
    //开机自动启动
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="false" />

    <application
        android:name="com.breakfast.library.app.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

         <meta-data
         android:name="HOST"
         android:value="${host}" />
        <meta-data
            android:name="TD_APP_ID"
            android:value="${app_id}" />
        <meta-data
            android:name="TD_CHANNEL_ID"
            android:value="${channel}" />
        <meta-data
            android:name="ACCESS_KEY_ID"
            android:value="64569ae4-4691-11e7-a1e5-6abf824cf6ef" />
        <meta-data
            android:name="SECURE_KEY"
            android:value="6a69d702-4691-11e7-a1e5-6abf824cf6ef" />
        //设置程序入口
        <activity android:name="com.breakfast.client.home.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.breakfast.client.home.activity.LoginActivity"
            android:clearTaskOnLaunch="true"
            android:exported="true"
            android:label="@string/title_activity_login" />
        <activity
            android:name="com.breakfast.client.home.activity.MainActivity">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED"/>
                <data android:mimeType="*/*" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.ACTION_TECH_DISCOVERED"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>
            <meta-data android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED"/>
            </intent-filter>
        </activity>



        <receiver android:name="com.breakfast.client.common.BootBroadcastReceiver">
            <intent-filter>
                <!-- 注册开机广播地址 -->
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>


    </application>

</manifest>